# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/target
allure-report
/allure-report
allure-result
/allure-results
gradle/wrapper
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
var/
*/var/*
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.DS_Store